table {
    width: 100%;
    border: 2px solid #e1e1e1;
    border-collapse: collapse;
}

td {
    border: 1px solid #e1e1e1;
}

tr:nth-child(even) {
    background-color: #222222;
}

tr:nth-child(odd) {
    background-color: #525252;
}
